body {
    background-image: url("image/back30.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-1 {
    background-image: url("image/back31.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 28%;
    height: 16em;
    margin-left: 2em;
    margin-top: 8%;
    border-style: groove;
    box-shadow: 0.8em 1em 1em purple;
    transition: 0.7s;
    color: white;
}

img {
    width: 100%;
    height: 70%;
    transition: 0.7s;
}

.p-1 {
    margin-top: 1em;
    text-align: center;
    transition: 0.7s;
    font-family: 'Playfair Display', serif;
}

.p-2 {
    margin-top: 1em;
    text-align: center;
    display: none;
    transition-duration: 0.8s;
}

.div-1:hover {
    height: 19em;
    width: 32%;
}

.div-1:hover .img-1 {
    height: 60%;
}

.div-1:hover .p-1 {
    display: none;
}

.div-1:hover .p-2 {
    display: block;
    margin-top: -0.5em;
    margin-bottom: 0%;
}